html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Diario */
* {
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
	font-family: Arial, sans;
	font-size: 0.9em;
    background-color: #ccc;
}
b {
    font-weight: bold;o
}
h1 {
    font-size: 130%;
    margin-bottom: 0.5em;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #666;
    text-decoration: underline;
}
a.more {
    color: #444;
    font-weight: bold;
}
#infobox {
    display: none;
    position: fixed;
    top: 5em;
    width: 14em;
    left: 50%;
    margin-left: -7em;
    

    text-align: center;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0 4px 40px #000;
    padding: 1em;
}
#page {
}
#page header {
    font-weight: bold;
    padding: 1em;
    color: #fff;
    background-color: #000;
}
#page footer {
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 1em;
}

#page article {
    padding: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.4em;
    background-color: #fff;
    box-shadow: 0 0.2em 0.5em #000;
}
#page article p {
    color: #444;
    margin-bottom: 0.5em;
}
#page article p.meta {
    font-size: 85%;
    color: #999;
}

#big {
    font-size: 110%;
    margin-bottom: 2em;
}
#big h1 {
    font-weight: bold;
}
#big article.main {
    font-size: 130%;
}


#normal .feat {
    font-size: 110%;
}
#normal .feat h1 {
    font-weight: bold;
}


/* MQ */
/*@media(min-width:480px) {
    #commentform {
        width: 450px;
    }
    #front section.main img, img.main {
        width: 100%;
        margin-bottom: 1em;
        border:1px solid #666;
        box-shadow: 1px 1px 8px #000;
    }
    #message {
        width: 20em;
    }
}
@media(min-width:700px) {
    body {
        font-size: 0.9em;
    }
    #commentform {
        width: 450px;
    }
    section.main #comments article img {
        width: 64px;
    }
} */
/* @media(min-width:980px) {
    #page {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
} */

/* @media(min-width:1024px) {
    .page {
        margin-top: 5em;
    }   
    section.main {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width:1200px) {
    .page {
        margin-top: 6em;
    }

	section.main {
	    width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
} */
